server:
  port: 8092
  servlet:
    context-path: /property-view

spring:
  datasource:
    url: jdbc:h2:file:./hoteldb
    username: sa
    password: ''
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  jackson:
    serialization:
      indent-output: true
      write-dates-as-timestamps: false
    default-property-inclusion: non_null
    date-format: yyyy-MM-dd HH:mm:ss